
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* NAV */
.Nav-major {
  background-color: #FED3E6; /* Color de fondo */
  padding: 5px 20px;
  width: 100%;
}

.Nav-major2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.icon img {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}

.navigation-items {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
}

.navigation-items li a {
  color: #252525;
  text-decoration: none;
  transition: color 0.3s; /* Transición de 0.3 segundos para color y borde inferior */
}

.extra-items a {
  color: #252525;
  text-decoration: none;
  margin-left: 20px;
}

.extra-items a:hover {
  color: #fff;
}

.extra-items a i {
  font-size: 19px; /* Ajusta el tamaño del icono según tus necesidades */
}

.navigation-items li a:hover {
  color: #B4416E;
  border-bottom: 2px solid #B4416E;
}

.hamburger-icon {
  display: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.hidden-tablet-mobile {
  display: inline-block;
}

.nav-icon {
  display: inline-block;
  margin-left: 5px;
}

.mobile-icon {
  display: none;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%; /* Ancho del 100% */
  display: none;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu ul li {
  margin: 5px 0;
}

.submenu ul li a {
  text-decoration: none;
  color: #252525;
  font-size: 16px;
}

.submenu ul li a:hover {
  color: #B4416E;
}

@media (max-width: 768px) {
  /* NAV */
  .Nav-major {
    padding: 17px 20px;
  }

  .navigation-items {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 56px;
    left: -20px;
    width: 100%;
    background-color: #fff; /* Color de fondo */
    padding: 20px;
  }

  .navigation-items li:hover {
    color: #fff;
    background-color: #FED3E6; /* Color de fondo */
    width: 100%;
  }

  .navigation-items li a:hover {
    border-bottom: none;
  }

  .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navigation-items.open {
    display: flex;
  }

  .extra-items .hidden-tablet-mobile {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .desktop-icon {
    display: none;
  }

  .mobile-icon {
    display: inline;
  }
}

.navigation-items li:hover .submenu,
.submenu:hover {
  display: block;
}






/*-------------------------------------------------------------------------------------------------------*/



/*Footer*/




/* Estilos base */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #E5B5C9; 
  color: #fff;
  padding: 33px;
  position: relative;
  min-height: 200px;
  font-family: 'Poppins', sans-serif;
}

.footer-logo,
.footer-secciones,
.footer-contacto-ubicacion {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.footer-secciones {
  margin-top: 10px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 10%;
}

.logo-container h2 {
  font-size: 1.5em;
  margin: 0;
}

.logo-texto {
  margin-top: 5px;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.footer-logo img {
  width: 80px;
  height: auto;
}

.footer-secciones p {
  font-weight: bold;
  font-size: 1.3em;
}

.footer-secciones ul {
  list-style-type: none;
  padding: 0;
}

.footer-secciones li {
  margin-bottom: 3px;
}

.footer-secciones a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.9em;
}

.footer-secciones a:hover {
  color: #a6a6a6;
}

.footer-creado-por {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0 0;
  color: #fff;
  border-top: 1px solid #fff;
  width: 100%;
}

.footer-creado-por a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-creado-por a:hover {
  color: #a6a6a6;
}

.instagram-icon-container {
  display: inline-block;
  background-color: #B4416E;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 10%;
}

.instagram-icon-container a i {
  font-size: 20px;
  margin: 5px;
  color: #fff;
  transition: color 0.3s;
}

.instagram-icon-container:hover {
  background-color:  #a6a6a6;
}

/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
  }

  .footer-logo,
  .footer-secciones {
      margin-right: 0;
      margin-bottom: 40px;
      text-align: center;
  }

  .footer-secciones {
      margin-left: 0;
  }

  .footer-logo img {
      width: 80px;
      height: auto;
  }
}

@media (max-width: 374px) {
  .footer-logo img {
      width: 70px; /* Ajusta el tamaño de la imagen */
      height: auto;
      transform: translateX(0); /* Ajusta la posición en móviles más pequeños */
  }

  .footer-creado-por a {
      font-size: 0.8em;
  }

  .logo-container {
      text-align: center;
  }
}





/*-------------------------------------------------------------------------------------------------------------*/





/* Estilos generales */
.logo-container {
  text-align: center;
}

.principal-div {
  text-align: center;
}

.login-register-container {
  margin-top: 40px;
  border-top: 2px solid #EDEDED;
  margin-bottom: 25px;
}

.account-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.account-sub-title {
  font-size: 15px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  color: #B4419B;
}

.link:hover {
  color: #FED3E6;
  text-decoration: underline;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.login-container,
.register-container {
  flex: 1;
  padding: 80px; /* Ajusta el padding aquí */
  border: 2px solid #EDEDED;
  margin: 15px;
  
  text-align: start;
}

.form-title {
  text-align: center !important;
  margin-bottom: 20px;
  font-size: 23px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color:  #a6a6a6;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Esto hace que el checkbox sea redondeado */
  border: 1px solid #ced4da; /* Añade un borde alrededor del checkbox */
  appearance: none; /* Elimina el estilo por defecto del navegador */
  -webkit-appearance: none; /* Para navegadores webkit */
  outline: none; /* Elimina el borde del enfoque */
  cursor: pointer; /* Cambia el cursor a un puntero cuando pasa sobre el checkbox */
}

input[type="checkbox"]:checked {
  background-color: #252525; /* Color de fondo cuando está seleccionado */
  border: 1px solid #252525; /* Borde cuando está seleccionado */
}

input[type="checkbox"]:hover {
  border: 1px solid #007bff; /* Borde cuando el ratón pasa sobre el checkbox */
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #FED3E6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #252525;
  color: #fff;
}

.form-link {
  text-align: center;
  margin-top: 15px;
}

.form-link a {
  color: #333;
  text-decoration: none;
}

.form-link a:hover {
  text-decoration: underline;
  color: #FED3E6;
}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .login-container,
  .register-container {
    width: 100%;
    margin: 10px 0;
    padding: 20px; /* Ajusta el padding según sea necesario para dispositivos móviles */
  }
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.principal-div-contact {
  text-align: start;
}

.contact-container {
  margin-top: 40px;
  border-top: 2px solid #EDEDED;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-title-contact {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #333;
  transition: 2s;
}

.account-title-contact:hover {
  font-size: 70px;
}

.account-sub-title-contact {
  font-size: 15px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Asegura que el texto esté centrado */
  display: block; /* Asegura que ocupe toda la línea */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  margin: 0 auto; /* Centra el texto horizontalmente */
}
.form-title-contact {
  text-align: center !important;
  margin-bottom: 20px;
  font-size: 23px;
  margin-top: 40px;
  font-weight: bold;
}

.elementor-divider {
  width: 2px;
  height: 50px; /* Ajusta la altura según sea necesario */
  background-color: #EDEDED;
  margin: 20px 0;
}

.article-contact {
  text-align: center;
  max-width: 75%;
  margin: 50px;
  font-size: 15px;
  transition: 3s;
}


.article-contact:hover {
  font-size: 20px;
}


/* Estilos para la nueva sección de contacto */
.contact-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Ambas columnas ocupan el mismo ancho */
  gap: 10px;
  background-color: #333;
  padding: 70px;
  color: #fff;
}

.element1,
.element2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.container-icon1, .container-icon2 {
  border: 2px solid white;
  padding: 10px 15px;
  display: inline-flex; /* Asegura que los íconos y textos estén en línea */
  margin-right: 10px; /* Espacio derecho entre los íconos y textos */
  
}

.icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


/* Estilo específico para los íconos */
.bi-envelope,
.bi-telephone {
  font-size: 20px;
}
.copyable-text {
  user-select: all; /* Permite que el texto sea seleccionable/copiable por el usuario */
  cursor: pointer;
}

.copyable-text:hover{
  color: #E5B5C9;
}
.element1 span,
.element2 span,
.element1 h2,
.element2 h2,
.element1 label,
.element2 label,
.element1 input,
.element2 input,
.element1 button,
.element2 button {
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
}

.element2{
  margin-bottom: 20px;
}

.name-contact,
.email-contact,
.subject-contact,
.message-contact,
.submit-contact {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #FFFFFF;
  
}

.message-contact {
  height: 100px; /* Altura específica para el campo de mensaje */
}

.submit-contact {
  color: #B4416E;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-contact:hover {
  background-color: #FED3E6;
}


@media (max-width: 768px) {
  .contact-section2 {
    grid-template-columns: 1fr; /* Coloca las columnas en una sola fila */
  }

  .element1, .element2 {
    width: 80%; /* Asegura que los elementos ocupen todo el ancho */
  }
  .copyable-text {
   font-size: 13px;
  }
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.client-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  margin-top: 1%;
  margin-bottom: 200px; /* Asegura espacio suficiente para el footer */
  overflow: hidden; /* Oculta el desbordamiento */
  position: relative; /* Asegura que los elementos hijos se posicionen correctamente */
  font-family: 'Poppins', sans-serif;
}

.client-img {
  width: 100%;
  height: 95%; /* Mantiene la proporción de la imagen */
  max-width: 100%; /* Asegura que la imagen no se extienda más allá del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
  transition: transform 0.1s ease-out; /* Suaviza el efecto de parallax */
}

.client-text {
  margin: 5%;
  font-size: 3rem;
  transition: transform 0.1s ease-out; /* Suaviza el efecto de deslizamiento */
  font-weight: bold;
}

.biografy {
  text-align: center;
  max-width: 80%; /* Ajusta según sea necesario */
  margin: 0 auto;
  color: #B4416E;
}

.client-img2 {
  width: 80%;
  height: auto;
  transition: transform 0.2s ease; /* Suaviza el efecto de zoom */
  transform-origin: center; /* Asegúrate de que el zoom sea desde el centro */
}
.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel-images img {
  height: 400px; /* Establece la altura fija que desees */
  object-fit: cover; /* Asegura que la imagen mantenga la proporción y rellene el contenedor */
  width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
}

.carousel .carousel-inner {
  width: 100%;
  overflow: hidden;
}


@media (max-width: 768px) {
  .carousel-images {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
  }

  .carousel-images img {
    width: 100%; /* Ajusta el ancho a 100% en pantallas pequeñas */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
}